{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mb-3">
    <h1 class="display-1 mb-3">Skystore</h1>
    <p class="lead mb-5">Skystore - это интернет-магазин для покупки оригинальной цифровой техники по выгодным ценам.</p>
</div>
<div class="container">
    <h2 class="card-title pricing-card-title text-center mb-5"> Выберите категорию товара: </h2>
    <div class="row text-center">
        {% for category in category %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ category }}</h4>
                </div>
                <div class="card-body">
                    {% if category.category_name == "Наушники" %}
                        <img src="media/images/наушники.jpg" alt="###">
                    {% elif category.category_name == "Смартфоны" %}
                        <img src="media/images/ок (1).jpg" alt="###">
                    {% elif category.category_name == "Телевизоры" %}
                        <img src="media/images/телевизор (1).jpg" alt="###">
                    {% endif %}
                    <a class="btn btn-lg btn-block btn-outline-primary" href="products_list/">Выбрать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}