{% extends 'catalog/base.html' %}

{% block title %}Неопубликованные продукты{% endblock %}

{% block content %}

<div class="container">
    <h2 class="card-title pricing-card-title text-center mb-5"> Выберите товар: </h2>
    <div class="row text-center">
        {% for product in object_list %}
        {% if product.is_publish == False %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ product.product_name }}</h3>
                </div>
                <div class="card-body">
                    {% load my_tags %}
                    <img src="{{ product.image | media_filter }}" alt="###">
                    <h2 class="card-title pricing-card-title mb-5 mt-5"> {{ product.price }} ₽ </h2>
                    <a class="btn btn btn-block btn-outline-primary"
                       href="{% url 'catalog:product_detail' product.pk %}">Выбрать</a>
                    {% if perms.catalog.can_unpublish_product or user == product.owner %}
                    <a class="btn btn btn-block btn-outline-primary"
                       href="{% url 'catalog:product_update' product.pk %}">Редактировать</a>
                    {% endif %}
                    {% if perms.catalog.can_delete_product or user == product.owner %}
                    <a class="btn btn btn-block btn-outline-danger"
                       href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}